<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.co.lyc.cms.mapper.AnnualSalesSituationConfirmMapper">
	<resultMap id="AnnualSalesSituationConfirm"
		type="jp.co.lyc.cms.model.AnnualSalesSituationConfirmModel" />
	<select id="getAnnualSalesSituationConfirmList" parameterType="String"
		resultType="jp.co.lyc.cms.model.AnnualSalesSituationConfirmModel">
    select K.*, T007CustomerInfo.customerAbbreviation from
(select S.*, T006EmployeeSiteInfo.customerNo, T006EmployeeSiteInfo.admissionEndDate from
(select M.*, T001Employee.employeeFristName as salesStaffFirstName, T001Employee.employeeLastName as salesStaffLastName from
(select T.employeeNo, T.salesYearAndMonth, T.salesStaff, employeeFristName as employeeFirstName, employeeLastName from
(select employeeNo, salesYearAndMonth, salesStaff from T010SalesSituation
WHERE employeeNo LIKE 'LYC%' AND salesProgressCode = 1 AND salesStaff IS NOT NULL AND salesStaff != '' AND salesYearAndMonth LIKE CONCAT(#{year}, '%'))
As T
LEFT JOIN T001Employee
On T.employeeNo = T001Employee.employeeNo) AS M
LEFT JOIN T001Employee
On M.salesStaff = T001Employee.employeeNo) AS S
LEFT JOIN T006EmployeeSiteInfo
On S.employeeNo = T006EmployeeSiteInfo.employeeNo AND S.salesYearAndMonth = SUBSTRING(T006EmployeeSiteInfo.admissionStartDate, 1, 6)) AS K
LEFT JOIN T007CustomerInfo
On K.customerNo = T007CustomerInfo.customerNo;
  </select>
</mapper>