<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.co.lyc.cms.mapper.BpInfoMapper">
	<resultMap id="bpInfoModel"
		type="jp.co.lyc.cms.model.BpInfoModel" />
	<resultMap id="MapResult" type="map" />
	<!-- 諸費用検索 -->
	<select id="getBpInfo" parameterType="String"
		resultMap="bpInfoModel">
		SELECT
		T011.bpEmployeeNo,
		T011.unitPriceStartMonth,
		T011.bpUnitPrice,
		T011.bpBelongCustomerCode,
		T011.bpSalesProgressCode,
		T011.bpOtherCompanyAdmissionEndDate,
		T011.bpRemark,
		T011.createTime,
		T011.updateTime,
		T011.updateUser
		FROM
		T011BpInfoSupplement AS T011
		WHERE
		bpEmployeeNo = #{bpEmployeeNo}

        ORDER BY unitPriceStartMonth DESC
        LIMIT 1;
	</select>

	<select id="getBpInfoList" parameterType="String"
		resultMap="bpInfoModel">
		SELECT
		*
		FROM
		T011BpInfoSupplement
		WHERE
		bpEmployeeNo =
		#{bpEmployeeNo}

	</select>

	<!-- 諸費用情報インサート -->
	<insert id="insertBp" parameterType="String">
		INSERT INTO
		T011BpInfoSupplement(
		bpEmployeeNo,
		bpUnitPrice,
		bpBelongCustomerCode,
		bpSalesProgressCode,
		bpOtherCompanyAdmissionEndDate,
		bpRemark,
		createTime,
		updateTime,
		updateUser
		)
		VALUE(
		#{bpEmployeeNo},
		#{bpUnitPrice},
		#{bpBelongCustomerCode},
		#{bpSalesProgressCode},
		#{bpOtherCompanyAdmissionEndDate},
		#{bpRemark},
		date_add(now(), interval 9 hour),
		date_add(now(), interval 9 hour)),
		#{updateUser})
	</insert>
	<!-- 諸p費用情報アップデート -->
	<update id="updateBp" parameterType="String">
		UPDATE T011BpInfoSupplement
		SET
		<if test="bpUnitPrice != null">
			bpUnitPrice = #{bpUnitPrice},
		</if>
		<if test="bpBelongCustomerCode != null">
			bpBelongCustomerCode = #{bpBelongCustomerCode},
		</if>
		<if test="bpSalesProgressCode != null">
			bpSalesProgressCode = #{bpSalesProgressCode},
		</if>
		<if test="bpOtherCompanyAdmissionEndDate != null">
			bpOtherCompanyAdmissionEndDate =
			#{bpOtherCompanyAdmissionEndDate},
		</if>
		<if test="bpRemark != null">
			bpRemark = #{bpRemark},
		</if>
		updateTime = date_add(now(), interval 9 hour),
		updateUser = #{updateUser}
		WHERE
		bpEmployeeNo =
		#{bpEmployeeNo}
	</update>


	<!-- Pbを削除 -->
	<delete id="deleteBpInfo" parameterType="String">
		DELETE
		FROM
		T011BpInfoSupplement
		WHERE
		bpEmployeeNo = #{bpEmployeeNo};
	</delete>


    <select id="getAllBpInfoList" parameterType="String"
            resultMap="bpInfoModel">
        SELECT t.bpEmployeeNo, t.unitPriceStartMonth, t.bpUnitPrice, t007.customerName,t.bpBelongCustomerCode,t006.unitPrice,
        CAST((t006.unitPrice-t.bpUnitPrice*10000) AS UNSIGNED) as averUnitPrice,t006.unitPrice as totalUnitPrice, 1 as countPeo,
        CONCAT(t001.employeeFristName,t001.employeeLastName)as employeeName,t006.admissionEndDate ,t006.admissionStartDate,t007.customerAbbreviation,
        t0071.customerAbbreviation as adminCustomerAbb,t0071.customerNo as adminCustomerAbbCode
        FROM T011BpInfoSupplement t
        JOIN (
        SELECT
        bpEmployeeNo,
        MAX(unitPriceStartMonth) AS unitPriceStartMonth
        FROM T011BpInfoSupplement
        GROUP BY bpEmployeeNo
        ) m
        ON t.bpEmployeeNo = m.bpEmployeeNo
        AND t.unitPriceStartMonth = m.unitPriceStartMonth
        join T007CustomerInfo t007
        on t.bpBelongCustomerCode  = t007.customerNo
        join T006EmployeeSiteInfo t006
        on t.bpEmployeeNo  = t006.employeeNo
        join T007CustomerInfo t0071
        on t006.customerNo  = t0071.customerNo
        join T001Employee t001
        on t.bpEmployeeNo  = t001.employeeNo
        WHERE 1=1

        <if test="givenDateTime != null  and givenDateTime != ''">
            and t006.admissionStartDate &lt;= #{givenDateTime}
            AND (t006.admissionEndDate &gt;= #{givenDateTime} or t006.admissionEndDate is null)
        </if>
        <if test="customerCode != null  and customerCode != ''">
            and t0071.customerNo = #{customerCode}
        </if>
    </select>
</mapper>